server:
  port: 8081
  servlet:
    context-path: /
  tomcat:
    accesslog:
      enabled: true
      directory: /opt/logs

spring:
  profiles:
    active: local

security:
  oauth2:
    client:
      - client-id: toylocal-id
        client-secret: $2a$10$kSQbg7BopGKgu92aSAuJNesLdrvtX0FGsjZzg1vkUCOLI/Ds/va6u #toylocal-secret
        authorized-grant-types: password

management:
  endpoints:
    web:
      base-path: /_/
  health:
    db:
      enabled: false

check-user-scopes: false